---
BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 2
ContinuationIndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
ColumnLimit: 100
SortIncludes: CaseSensitive
...
